* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: lightblue;
    color: black;
    font-family: "Times New Roman";
    font-size: 2vw;
    font-weight: 300;
    text-rendering: optimizeLegibility;

}

.form {
    color: black;

}

h1 {
    color: black;
    font-size: 2vw;
    text-align: center;
}

h2 {
    color: black;
    font-size: 2vw;
    text-align: center;
}

h3 {
    font-size: 4vw;
    color: black;
    text-align: center;
    padding: 10px;
}

tr {
    font-size: 20px;
    color: blue;

}

td {
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

p {
    font-size: 4vw;
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: white;
    padding: 10px;

}

a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.topBox {
    border: 5px outset darkblue;
    background-color: rgb(245, 245, 107);
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    border-radius: 40px;
    width: 100%;
    margin: auto;
    margin-bottom: 1%;

}

.descript {
    border: 5px outset darkblue;
    background-color: lightyellow;
    text-align: justify;
    font-size: 18px;
    margin: auto;
    width: 85%;
    padding: 5px;
    margin-top: 10%;
    font-weight: 400;
}

label {
    display: block;
    font: 3rem sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.tabler {
    font-size: 2vw;
    color: black;
    background-color: lightyellow;
    margin: auto;
    width: 30%;
    text-align: center;
    text-decoration: none;
    border: 3px darkblue solid;
}

.descript1 {
    border: 5px outset darkblue;
    background-color: lightgoldenrodyellow;
    text-align: justify;
    font-size: 5vw;
    width: 100%;
    padding: 5px;
    font-weight: 400;
    margin-top: 2%
}

.image {
    border: 5px outset darkblue;
    background-color: white;
    font-size: 1vw;
    float: right;
    margin-right: 10%;
    width: 40%;
    padding: 5px;
    font-weight: 400;
    margin-top: 2%
}


.tabler_index {
    font-size: 1.5vw;
    color: black;
    background-color: lightskyblue;
    margin: auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: 3px darkblue solid;
    max-width: 100%;
    height: auto;
}

.tablerMET {
    font-size: 1.5vw;
    color: black;
    background-color: lightyellow;
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
    text-decoration: none;
    border: 3px darkblue solid;
    margin-bottom: 15px;
}

.tablerMonth {
    font-size: 24px;
    color: black;
    background-color: lightyellow;
    margin: auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: 3px darkblue solid;

}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5px;
    margin: 4px 2px;
    cursor: pointer;
}

#aboutpic {
    max-width: 25%;
    max-height: 90%;
    margin: auto;

}

figcaption {
    font-size: 1vw;
    padding: 3px;
    text-align: center;
    font-weight: bold;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;

}

.query_box {
    font-size: 2vw;
    color: darkblue;
    background-color: darkblue;
    width: 50%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: 3px darkblue solid;
    max-width: 50%;
    height: auto;
}