* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: lightblue;
    color: black;
    font-family: "Times New Roman";
    font-size: 4vw;
    font-weight: 300;
    text-rendering: optimizeLegibility;

}

p {
    font-size: 11vw;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
    text-align: center;
    padding: 7px;
    margin: auto;
}

a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

input,
label {
    margin: 1rem 0;
}

option {
    font-size: 7vw;
    color: black;
    font-weight: bold;
}

input {
    color: black;
    font-size: 7vw;
    background-color: lightgoldenrodyellow;
    font-weight: bold;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;

}

.query_boxMonth {
    font-size: 8vw;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    border: 3px darkblue solid;
    padding: 5px;
    height: auto;
    margin: auto;
}